<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My first Flask website</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<header>
		<div class="container">
			<h1 class="logo">My first Flask webise</h1>
		</div>
		<strong>
			<nav>
				<ul class="menu">
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('about') }}">About</a></li>
				</ul>
			</nav>
		</strong>
	</header>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>